@import
'_reboot.scss',
'_param',
'_fonts.scss';

.red{
	background: red;
	color: #fff;
	font-size: 20px;
	display: inline-block;
	padding: 20px;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 20;
}
.nav_menu{
	padding: 20px 0;
	.btn{
		margin: 0 25px;
	}
}
.wrapper{
	position: relative;
	z-index: 2;
}
.bg_img{
	position: absolute;
	top: 0;
	left: 50%;
	transform:translateX(-50%);
	object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.form_block{
	width: 500px;
	height: 573px;
	margin: 0 auto;
	background: url(../images/form_bg.png) no-repeat;
	background-size: cover;
}
.centered{
	max-width: 400px;
	margin: 50px auto 0;
}
.title_form{
	padding-top:100px;
	color: #fff;
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 0;
	text-align: center;
}
.form_group{
	margin-bottom: 20px;
}
.text-right{
	text-align: right;
}
.link_recovery{
	color: #ffa828;
	font-size: 18px;
	&:hover{
		color:#ffa828;
	}
}
.footer_buttons{
	padding-top: 70px;
	a{
		margin: 0 15px;
		font-size: 25px;
	}
}
// video
.is_overlay{
	width: 100%;
	height: 100%;
	display: block;
}
#trailer{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: -1;
}
#trailer{
	video,iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}